* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    font-family: 'Lato', sans-serif;
}

.grid {
    padding-top: 2%;
    padding-right: 10%;
    padding-bottom: 2%;
    padding-left: 10%;
}

.row {
    width: 100%;
    display: flex;
    padding-top: 25px;
}

.col-10 {
    width: 83.33%;
}

.col-12 {
    width: 100%;
}

.logo {
    max-width: 12vw;
    max-height: 12vw;
    margin-bottom: 1vw;
    padding: 0;
}

header {
    text-align: right;
    float: right;
}

hr {
    background-color: gray;
    outline-color: gray;
    height: 3px;
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

/*Lily Patterson*/

h1 {
    text-transform: uppercase;
    font-weight: lighter;
    font-size: 4vw;
    margin-bottom: 0;
    padding-bottom: 0;
}

/*Front-End Developer*/

h2 {
    text-transform: uppercase;
    font-size: 1.5vw;
    margin-top: 0;
    padding: 0;
}

/*Featured Work header*/

h3 {
    font-size: 2.5vw;
    text-align: left;
}

/*Selector for project image thumbnails*/

/*http://www.w3.org/Style/Examples/007/center.en.html#block*/

.project {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Project #*/

h4 {
    text-transform: uppercase;
    margin-top: 8px;
    text-align: center;
    font-size: 1.3vw;
    margin-bottom: 0;
    padding-bottom: -10px;
}

/*Project Name*/

p {
    font-weight: lighter;
    margin-top: -20px;
    text-align: center;
    font-size: 1.2vw;
    margin-top: 0;
    padding-top: 0;
}

footer {
    margin-top: 100px;
    padding-top: 50px;
    text-align: center;
    float: bottom;
    clear: both;
}

#one, #four {
    margin-right: 5%;
    float: left;
    width: 30%;
}

#two, #five {
    margin-right: 5%;
    float: left;
    width: 30%;
}

#three, #six {
    float: left;
    margin-right: 0;
    width: 30%;
}

/*Tablet media queries*/

@media screen and (max-width: 1000px) {
    p {
        font-size: 1.8vw;
    }

    h1 {
        font-size: 5vw;
    }

    h2 {
        font-size: 2vw;
    }

    h3 {
        font-size: 3vw;
    }

    h4 {
        font-size: 2vw;
    }

    .logo {
        max-width: 12.5vw;
        max-height: 12.5vw;
    }


    #one, #three, #five {
        width: 45%;
        margin-right: 10%;
    }


    #two, #four, #six {
        width: 45%;
        margin-right: 0;
    }
}

/*Mobile media queries*/

@media screen and (max-width: 615px) {
    p {
        font-size: 4vw;
    }
    
    h1 {
        font-size: 6.5vw;
    }

    h2 {
        font-size: 2.5vw;
    }

    h3 {
        font-size: 5vw;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h4 {
        font-size: 4vw;
    }

    .grid {
        width: auto;
    }

    .logo {
        max-width: 13vw;
        max-height: 13vw;
        margin-bottom: 0;
        padding-bottom: -25px;
    }

    #one, #two, #three, #four, #five, #six {
        width: 100%;
        float: center;
        clear: both;
    }
}